@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply hover:underline text-sky-600;
  }

  .markdown {
    @apply text-lg;
  }
  .markdown > * {
    @apply my-4;
  }

  .markdown ul {
    @apply list-disc pl-8;
  }
  .markdown ol {
    @apply list-decimal pl-8;
  }

  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply font-semibold my-5;
  }

  .markdown h1 {
    @apply text-4xl font-bold;
  }

  .markdown h2 {
    @apply text-3xl;
  }

  .markdown h3 {
    @apply text-2xl;
  }

  .markdown h4 {
    @apply text-xl;
  }

  .markdown h5 {
    @apply text-lg;
  }

  .markdown h6 {
    @apply text-base;
  }

  .markdown pre > code {
    background-color: rgba(0, 0, 0, 0.05);
    display: block;
    padding: 0.5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre;
  }

  .markdown code {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 2px 4px;
  }
}
